<% provide(:title,'Contact Us') %>

<h1> Welcome to CWSS IT Department Contact Us </h1>
<P> Nothing in this world is perfect. If you think there are rooms for improvement, feel free to contact us!</p>

