<%provide(:title,'Reset Password') %>

<div class="center hero-unit">
<h1> Welcome to CWSS IT Department Reset Password Page </h1>
<P> This is where you can reset your password. Click on the following buttons to begin:
</p>

<p>
    <%=link_to "Gmail", gmail_student_path ,class: "btn btn-large btn-primary"%>
</p>

<p>
    <%=link_to "SSOE Windows Login", ssoe_student_path, class: "btn btn-large btn-primary"%>
</p>

<p>
If you are a staff of the school, please request for your password reset here. 
</P>