<footer class="footer">
    <small>
        <a href="http://www.commonwealthsec.moe.edu.sg">Commonwealth Secondary School</a>
        698 West Coast Road Singapore 608784
        (+65) 6564 5361

    </small>